N8N_HOST=0.0.0.0
N8N_PORT=5678
N8N_PROTOCOL=http
N8N_DIAGNOSTICS_ENABLED=false
N8N_PERSONALIZATION_ENABLED=false
N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true
GENERIC_TIMEZONE=America/Fortaleza
TZ=America/Fortaleza

SMARTBUDGET_API_URL=http://api:3333
TELEGRAM_BOT_TOKEN=

